tmp/

*_old
*_backup
Thumbs.db
.DS_Store




#Отредактируйте файл .gitignore так, чтобы git игрорировал файлы, 
#находящиеся в подкаталоге tmp и файлы, 
#заканчивающиеся суффиксами _old, _backup. 
#Любые символы можно заменить символом звёздочка *. Эти файлы не нужно удалять
#Добейтесь чтобы также были проигнорированы файлы Thumbs.db и .DS_Store.